doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= 'ratcam'
  body
    img#pic
    img#dif
    script(src='/primus/primus.js')
    script(type='text/javascript').
      'use strict';
      
      var primus = new Primus()
        , imgel = document.getElementById('pic')
        , difel = document.getElementById('dif');

      primus.on('data', function(data) {
        switch(data.action) {
          case 'updatepic':
            imgel.setAttribute('src', 'data:image/jpg;base64,'+data.data);
            break;
          case 'updatedif':
            difel.setAttribute('src', 'data:image/png;base64,'+data.data);
            break;
        };
      });
